<script id="postPrevTpl" type="text/html">
    <div class="post-thumb">
        <a href="{{link}}"><img src="{{thumb}}"></a>
    </div>
    <div class="post-publish">
        <span class="title">Опубликовано:</span>
        <span class="date">{{pubDate}}</span>
    </div>
    <div class="post-title">
        <a href="{{link}}">{{title}}</a>
    </div>
    <div class="post-desc">{{desc}}</div>
    <div class="more">
        <a href="{{link}}">Подробнее...</a></div>
</script>