<script id="mainTpl" type="text/html">
        {{> header}}
        {{> nav}}
        {{> mainBanner}}
        {{> shortcuts}}
        {{> posts}}
        {{> companies}}
        {{> hotline}}
        {{> lastmedia}}
        {{> events}}
        {{> footer}}
</script>