<script id="mainBannerTpl" type="text/html">
    <section id="main-banner-section">
        <div class="container">
            <div class="row name"> {{banner.name}} </div>
            <div class="row main"> {{banner.main}} </div>
            <div class="row desc"> {{banner.desc}} </div>
            <div class="row link"><a href="{{banner.link.href}}">{{banner.link.name}}</a></div>
        </div>
    </section>
</script>