<script id="headerTpl" type="text/html">
    <section id="head-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 brand-cont">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 logo">
                        <a href="/"><img class="" src="{{system.imgPath}}{{header.applogo}}"></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 name">
                        <a href="/">{{header.appname}}</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 hidden-xs hidden-sm"></div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 left">
                    <div class="lang-group">
                        <a href="#" class="active">{{header.langRu}}</a>
                        <a href="#">{{header.langKy}}</a>
                    </div>
                    <div class="form-group" id="search">
                        <input type="search" name="search" placeholder="{{header.searchPlaceholder}}">
                        <button class="btn btn-default" type="button">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>